# Ignore the example_projects folder and all its subfolders
examples/example_projects/

workspace/
projects/
my_projects/

ignore egg info
*.egg-info/

.eggs/

# Ignore the Example_Projects_6_5.zip file
Example_Projects_6_5.zip

# Ignore the misc folder and all its subfolders
misc/
ras_commander/__pycache__/
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.pytest_cache/
.venv/
venv/